.movie-item {
  position: relative;
  width: 450px;
  height: 280px;
  display: flex;
}

.movie-item__img {
  border-radius: 5px;
}

.movie-item__desc {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  width: 200px;
  font-size: 20px;
  font-weight: bold;
}

.releaseDate {
  color: #827e7e;
}

.vote {
  position: absolute;
  top: 12px;
  right: 10px;
  font-size: 20px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  text-align: center;
}
